<!DOCTYPE html>
<html lang="fr" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="La page de contact de Philippe Matray.">
    <meta name="keywords" content="Philippe, Matray, Développeur, Musicien, Enseignant, Microsoft">
    <meta name="author" content="Philippe Matray">

    <title>Philippe Matray</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.min.css"/>

    <!-- JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.7.2/angular-translate-storage-local.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.7.2/angular-translate-storage-cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.7.2/angular-translate-loader-static-files.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
<div class="container" ng-controller="AppCtrl as vm">
    <h1 id="firstName" translate>firstName</h1>
    <h1 id="lastName" translate>lastName</h1>

    <p style="margin-bottom: 0;">
        <a ng-click="vm.useFrench()" ng-class="vm.getClass('fr')" href>Français</a>
        &nbsp;-&nbsp;
        <a ng-click="vm.useEnglish()" ng-class="vm.getClass('en')" href>English</a>
        &nbsp;-&nbsp;
        <a ng-click="vm.useLeet()" ng-class="vm.getClass('leet')" href>Leet</a>
    </p>

    <p translate>description</p>

    <!-- Using SVG images on Azure Websites -->
    <!-- http://eblog.cloudplush.com/2014/08/23/using-svg-images-on-azure-websites/ -->
    <div id="avatar-wrapper" style="z-index: 20;">
        <div ng-include="'img/myAvatar.svg'"></div>
        <img id="light1" src="img/light1.png" alt=""/>
        <img id="light2" src="img/light2.png" alt=""/>
        <img id="light3" src="img/light3.png" alt=""/>
        <img id="light4" src="img/light4.png" alt=""/>
        <img id="light5" src="img/light5.png" alt=""/>
        <img id="light6" src="img/light6.png" alt=""/>
    </div>

    <div class="row" style="z-index: 25;">
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="http://phmatray.azurewebsites.net/">
                        <span class="fa fa-user fa-fw fa-2x"></span>
                        <span translate>link.About</span>
                    </a>
                    <hr style="z-index: 25;"/>
                </li>
                <li>
                    <a href="http://ccross.azurewebsites.net/">
                        <span class="fa fa-briefcase fa-fw fa-2x"></span>
                        <span translate>link.CCross</span>
                    </a>
                    <hr style="z-index: 25;"/>
                </li>
                <li>
                    <a href="https://phmatrayportfolio.wordpress.com/">
                        <span class="fa fa-coffee fa-fw fa-2x"></span>
                        <span translate>link.Eduportfolio</span>
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="http://dotnetcoffee.blogspot.be/">
                        <span class="fa fa-book fa-fw fa-2x"></span>
                        <span translate>link.Blog</span>
                    </a>
                    <hr style="z-index: -100;"/>
                </li>
                <li>
                    <a href="https://soundcloud.com/philippe-matray">
                        <span class="fa fa-soundcloud fa-fw fa-2x"></span>
                        <span translate>link.SoundCloud</span>
                    </a>
                    <hr/>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="https://www.facebook.com/phmatray">
                        <span class="fa fa-facebook-official fa-fw fa-2x"></span>
                        <span translate>link.Facebook</span>
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="http://be.linkedin.com/in/phmatray/fr">
                        <span class="fa fa-linkedin-square fa-fw fa-2x"></span>
                        <span translate>link.LinkedIn</span>
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="https://twitter.com/phmatray">
                        <span class="fa fa-twitter fa-fw fa-2x"></span>
                        <span translate>link.Twitter</span>
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="http://stackoverflow.com/users/2409554/philippe-matray">
                        <span class="fa fa-stack-overflow fa-fw fa-2x"></span>
                        <span translate>link.StackOverflow</span>
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="http://coderdojo-liege.be/">
                        <span class="fa fa-code fa-fw fa-2x"></span>
                        <span translate>link.CoderDojo</span>
                    </a>
                    <hr/>
                </li>
            </ul>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $("a").hover(
            function() { $("#avatar-wrapper").addClass("super-saiyan") },
            function() { $("#avatar-wrapper").removeClass("super-saiyan") }
        );
    });
</script>

</body>
</html>