body {
    background-image: url(img/back.jpg);
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 16px;
}

a, a:visited {
    color: #fff;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
}

a:hover, a:active {
    color: #ffda01;
    text-decoration: none;
}

ul {
    margin-left: -40px;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

p {
    margin-top: 30px;
    margin-bottom: 50px;
}

hr {
    border-color: #ccc;
}

#avatar-wrapper {
    position: fixed;
    width: 200px; /* a size must be applied */
    height: 200px; /* a size must be applied */
    bottom: 0;
    right: 0;
    margin-right: 115px;
    margin-bottom: 250px;
    -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
}

#firstName {
    margin-top: 20px;
    font-size: 54px;
}

#lastName {
    color: #ffda01;
    font-size: 28px;
    font-family: 'Segoe Script';
    text-transform: uppercase;
    margin-left: 58px;
    margin-top: -4px;
}

.fa {
    margin-right: 10px;
}

/* Hairs */
#SvgjsPath4380, #SvgjsPath4381, #SvgjsPath4382 {
    -moz-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#avatar-wrapper:hover #SvgjsPath4380 {
    fill: #e89228;
}

#avatar-wrapper:hover #SvgjsPath4381 {
    fill: #fabb2b;
}

#avatar-wrapper:hover #SvgjsPath4382 {
    fill: #f7f3ba;
}

/* Eyebrows*/
#SvgjsPath4057, #SvgjsPath4058 {
    -moz-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#avatar-wrapper:hover #SvgjsPath4057, #avatar-wrapper:hover #SvgjsPath4058 {
    fill: #e89228;
}

/* Eyes */
#SvgjsPath4610, #SvgjsPath4611, #SvgjsPath4612, #SvgjsPath4615, #SvgjsPath4616, #SvgjsPath4617 {
    -moz-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#avatar-wrapper:hover #SvgjsPath4610, #avatar-wrapper:hover #SvgjsPath4615 {
    fill: #00c2af;
}

#avatar-wrapper:hover #SvgjsPath4611, #avatar-wrapper:hover #SvgjsPath4616 {
    fill: #00c3b8;
}

#avatar-wrapper:hover #SvgjsPath4612, #avatar-wrapper:hover #SvgjsPath4617 {
    fill: #00574e;
}