/* Common */
body {
  background-image: url(img/back.jpg);
  color: #fff;
  font-family: 'Segoe UI';
  font-size: 16px;
  overflow-x: hidden;
}
a {
  color: #fff;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  -webkit-transition: color .3s;
  transition: color .3s;
}
a:hover,
a:active {
  color: #ffda01;
  text-decoration: none;
}
a.active {
  color: #ffda01;
  text-decoration: none;
}
ul {
  margin-left: -40px;
}
li {
  list-style: none;
  margin-bottom: 20px;
}
li:last-child {
  margin-bottom: 50px;
}
p {
  margin-top: 30px;
  margin-bottom: 50px;
}
hr {
  border-color: #ccc;
}
#firstName {
  margin-top: 20px;
  font-size: 54px;
}
#lastName {
  color: #ffda01;
  font-size: 28px;
  font-family: 'Segoe Script';
  text-transform: uppercase;
  margin-left: 58px;
  margin-top: -4px;
}
.fa {
  margin-right: 10px;
}
.animated {
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
body > a {
  font-style: italic;
}
/* Super Saiyajin */
svg {
  z-index: 2;
  /* Small Devices, Tablets */
}
@media only screen and (max-width: 600px), (max-height: 650px) {
  svg {
    visibility: hidden;
  }
}
#SvgjsPath4380,
#SvgjsPath4381,
#SvgjsPath4382,
#SvgjsPath4057,
#SvgjsPath4058,
#SvgjsPath4610,
#SvgjsPath4611,
#SvgjsPath4612,
#SvgjsPath4615,
#SvgjsPath4616,
#SvgjsPath4617 {
  -moz-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: fill 2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#avatar-wrapper {
  position: fixed;
  width: 420px;
  /* a size must be applied */
  height: 420px;
  /* a size must be applied */
  bottom: 0;
  right: 0;
  margin-right: -140px;
  margin-bottom: 0;
}
#avatar-wrapper.super-saiyan {
  /* Hairs */
  /* Eyebrows*/
  /* Eyes */
  /* Lightning */
}
#avatar-wrapper.super-saiyan #SvgjsPath4380 {
  fill: #e89228;
}
#avatar-wrapper.super-saiyan #SvgjsPath4381 {
  fill: #fabb2b;
}
#avatar-wrapper.super-saiyan #SvgjsPath4382 {
  fill: #f7f3ba;
}
#avatar-wrapper.super-saiyan #SvgjsPath4057,
#avatar-wrapper.super-saiyan #SvgjsPath4058 {
  fill: #e89228;
}
#avatar-wrapper.super-saiyan #SvgjsPath4610,
#avatar-wrapper.super-saiyan #SvgjsPath4615 {
  fill: #00c2af;
}
#avatar-wrapper.super-saiyan #SvgjsPath4611,
#avatar-wrapper.super-saiyan #SvgjsPath4616 {
  fill: #00c3b8;
}
#avatar-wrapper.super-saiyan #SvgjsPath4612,
#avatar-wrapper.super-saiyan #SvgjsPath4617 {
  fill: #00574e;
}
#avatar-wrapper.super-saiyan #light1,
#avatar-wrapper.super-saiyan #light2,
#avatar-wrapper.super-saiyan #light3,
#avatar-wrapper.super-saiyan #light4,
#avatar-wrapper.super-saiyan #light5,
#avatar-wrapper.super-saiyan #light6 {
  opacity: 1;
}
.light-base {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
}
#light1 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: 83px;
  margin-bottom: -52px;
}
#light2 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: -53px;
  margin-bottom: 12px;
  z-index: -1;
}
#light3 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: 81px;
  margin-bottom: 101px;
}
#light4 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: -122px;
  margin-bottom: -63px;
}
#light5 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: -70px;
  margin-bottom: 173px;
}
#light6 {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  -moz-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 3s cubic-bezier(0.86, 0, 0.07, 1);
  margin-right: 46px;
  margin-bottom: 257px;
}
/*# sourceMappingURL=style.css.map */